@model PortfolioBuilder.ViewModels.PortfolioDataViewModel

<div class="item-display-box item-sorter-box item-deleter-box">
    <input type="checkbox" class="item-deleter-get item-setter-get-id" value="@Model.PortfolioId" />
    <div class="item-to-delete item-to-display">
        <span class="featured-portfolio-name photo-display">@Model.Name</span>
    </div>
</div>