@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="page-container">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <h4>Please contact the website administrator.</h4>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
