@model PortfolioBuilder.Models.Category

@{
    ViewData["Title"] = "Add Category";
}

<form asp-action="Create">
    <div class="page-container">
        <partial name="_NavigationPartial" />

        <partial name="Config Boxes/_CategoryDetailsConfigPartial" />

    </div>

    <partial name="Config Boxes/Category Portfolio/_CategoryPortfolioConfigPartial" />

    <div class="page-container">
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary submit-button" />
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
