@model PortfolioBuilder.Models.Category

@{
    ViewData["Title"] = Model.Name;
}

@if (User.Identity.IsAuthenticated)
{
    <div class="page-container">
        <partial name="_NavigationPartial" />

        <h1>@ViewData["Title"]</h1>
        <hr />

        <partial name="Item Display/_CategoryDetailsPartial" model="Model" />
    </div>
}

<div class="cat-port-display row">
    @foreach (var categoryPortfolio in Model.Portfolios.OrderBy(ph => ph.Position))
    {
        string catPortWidthClass = !String.IsNullOrEmpty(categoryPortfolio.Width.ToString()) ? "col-md-" + categoryPortfolio.Width.ToString() : "";

        <div class="col-12 @catPortWidthClass">
            <partial name="Item Display/_PortfolioDisplayBoxPartial" model="categoryPortfolio.Portfolio" />
        </div>
    }
</div>